.col_left {
	width: 720px;
	float: left;
}

.col_right {
	float: left;
    padding-left: 20px;
    padding-top: 10px;
}
.post_title {
    width: 100%;
    height: 30px;
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    outline: none;
}

.post_content {
    width: 100%;
    height: 400px;
}

#category_inside {
    width: auto;
    margin: 10px;
    padding-left: 10px;
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
}
#tag_inside{
     width: auto;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}

li ul {
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

li label input[type="checkbox"] {
    margin-right: 10px;
}
#tag_div{
    width: 100%;
    height: auto;
    word-wrap:break-word;
}
#tag_div label{
    margin: 0 3px;
}
/*the background is must equal wbox background*/
.remove_tag span{
    background-color: #F3F3F3;
}
.remove_tag:link {
    background: url(../../images/delete.gif) no-repeat 0 3px;
    padding-left: 10px;
}

.remove_tag:hover {

    background: url(../../images/delete.gif) no-repeat -10px;
}

#tag_cloud_div a{
    margin: 0 5px;
}