
/**
*.wb-list-table start
*/
.wb-list-table {
    word-wrap: break-word;
	text-align: center;
	background-color: #F1F1F1;
	table-layout: fixed;
	border-spacing: 0;
	width: 100%;
	clear: both;
	margin: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #DFDFDF;
}

.wb-list-table thead {
	background-color: #F1F1F1;
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

.wb-list-table  tfoot {
	background-color: #F1F1F1;
	display: table-footer-group;
	vertical-align: middle;
	border-color: inherit;
}
.wb-list-table tbody *{
	border-width: 1px 0;
	/*border-style: solid;*/
	border-bottom-color: #DFDFDF;
	border-top-color: #FFFFFF;
}
.wb-list-table th{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	font-weight: normal;
	font-size: 14px;
    line-height: 30px;
    text-align: left;
    word-wrap: break-word;
    padding: 5px 0 5px 0;
}
.wb-list-table td{
	font-size: 12px;
    padding: 10px 0 5px 0;
    vertical-align: top;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
}
.wb-list-table tbody .odd {
	background-color: #FCFCFC;
}

.wb-list-table tbody .even {
	background-color: #F7F7F7;
}
.wb-list-table th{
    font-size: 14px;
    line-height: 1.3em;
}

.wb-list-table tbody td{
	border-color: inherit;
    color: #555555;
    font-size: 13px;
}

.wb-list-table .check-column
{
	padding:0 10px;
	width:20px
}

.column-name,.column-title{
    font-weight: bold;
}

/**
*.wb-list-table end
*/

div .row-action {
    margin: 5px 0 0 -5px;
    padding: 0;
    border-width: 0px;
    border-style: hidden;
}
div .row-action a{
    padding: 0 5px;
    font-weight: lighter;
}
/*
    error message
*/
div #ajax_response{
    height: 20px;
}
div .error{
    color: #FF0000;
    font-weight: bolder;
}

div .success{
    color: #66cc00;
    font-weight: bolder;
}